<h1>Stupid Coaching</h1>

<form action="/answer" method="get">
  <p> Ask your coach anything </p>
  <input id="hola" type="text" name="question" placeholder="Place your question">
  <input id="btn" type="submit" value="Ask">
</form>
